/*
Use of variables and writing layout suggested by "Web Development for Absolute Beginners" di John Smilga, Udemy.com class
*/

/*
=============================================
Fonts
=============================================
*/
@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poiret+One&display=swap');

/*
=============================================
Variables
=============================================
*/
:root {
    --clr-primary: #4B0101;
    --clr-secondary: #F8E793;
    --clr-background: #F2EFE9;
    --ff-title: "Poiret One", cursive;
    --ff-paragraph: "Bentham", cursive;
}

/*
============================================= 
Global CSS
=============================================
*/

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-paragraph);
    background: var(--clr-background);
    color: var(--clr-primary);
    line-height:2.5;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-bottom: 110px;
}

html {
    /*navbar navigation*/
    scroll-behavior: smooth;

    /*solution for footer stick on the bottom*/
    min-height: 100%;
    position: relative;
}

h1,
h2,
h3 {  
  font-family: var(--ff-title);
  letter-spacing: 4px;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
    text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1.25rem;
}

a,
a:hover,
a:active,
a:focus,
a:active:focus {
    text-decoration: none;
    color: var(--clr-secondary);
}

/*
============================================= 
Images
=============================================
*/

.fixed-back {
    height: 75vh;
    background: url('../images/trippa_mod_v2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Solution from website https://kescardoso.github.io/yinnsound/   */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
}

/*
============================================= 
Animation
=============================================

/*presa da qui https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
=============================================
Home
=============================================
*/
#home {
  height: 100vh;
  background: url('../images/hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
  position: relative;
}
.jumbotron {
  background-color: transparent;
}


#home h1  {
    margin-bottom: var(--spacing);
    /*presa da qui https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load*/
    animation: fadein 1s ease-in;
    -webkit-animation: fadein 1s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 1s ease-in; /* Internet Explorer */
    -o-animation: fadein 1s ease-in; /* Opera < 12.1 */
}

#home h2 {
    margin-bottom: 0;
    animation: fadein 3s ease-in;
    -webkit-animation: fadein 3s ease-in; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease-in; /* Firefox < 16 */
    -ms-animation: fadein 3s ease-in; /* Internet Explorer */
    -o-animation: fadein 3s ease-in; /* Opera < 12.1 */
}

#home span {
    font-weight: 600;
}

/*
=============================================
Navbar
=============================================
*/

.menu-burg {
  font-size: 2rem;
  color: var(--clr-secondary);
}

.navbar {
  background-color: var(--clr-primary);
}

.nav-item{
    margin-bottom: 1rem;
}


.nav-item a {
  color: var(--clr-secondary);
}

.logo{
    font-family: var(--ff-paragraph);
    color: var(--clr-secondary);
    text-transform: capitalize;
    font-weight: 800;
    border: 1px solid var(--clr-secondary);
    padding: 0 3px 0 3px;
}

.navbar-nav{
    height: 100vh;
    padding-top: 1rem;
}

.social-links-navbar{
    font-size: 2rem;
    color: var(--clr-secondary);
    list-style: none;
    padding-left: 0;
}
.social-links-navbar li{
    display: inline;
    margin: 0 16px;
}

@media screen and (min-width: 768px){
    .nav-item{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 992px){
    .navbar-nav{
        height: unset;
        padding-top: unset;
    }
    .nav-item{
        margin-bottom: unset;
        margin-left: 16px;
        font-size: 1.4rem;
    }
    .social-links-navbar{
        margin-left: 32px;
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;

    }
    .navbar-nav .nav-link{
        padding-top: 0;
        padding-bottom: 0;
    }
    
}
@media screen and (min-width: 1440px){
    .nav-item{
        margin-left: 32px;
        font-size: 2rem;
    }
    .social-links-navbar{
    margin-left: 64px;
    }
}
/*
=============================================
"Our Story"
=============================================
*/
#story{
    scroll-margin-top: 40px;
}

.text-overlay{
    margin-top: 2.5rem;
}

.text-overlay span{
    font-style: italic;
}
#ourstory h2{
    letter-spacing: var(--spacing);
    margin-bottom: 30px;
    text-shadow: 2px 2px #fff;
}

#ourstory p{
    font-size: 1.6rem;
}
/*
=============================================
"Menu"
=============================================
*/
#menu{
    scroll-margin-top: 80px;
}

.menu-link{
    font-size: 1.5rem;
    color: var(--clr-primary);
    text-decoration: underline;
}
.menu-link:hover{
    text-decoration: none;
    color: var(--clr-primary);
}
.menu-link i{
    margin-left: 5px;

}
/*
=============================================
"Contact"
=============================================
*/
#contact{
    color: var(--clr-secondary);
    scroll-margin-top: 60px;
}

#contact div div div{
    background-color: var(--clr-primary);
}

#contact p span{
    text-transform: uppercase;
}

#contact hr{
    border: solid 1px;
    color: var(--clr-secondary);
}

.social-links{
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.social-links li{
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
}

#contact .direction{
    padding-top: 10px;
}

.map{
    height: 50vh;
    width: auto;
}

#contact iframe{
    width: 100%;
    height: 100%;
}
/*
=============================================
"Footer"
=============================================
*/

.footer {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  font-size: 0.7rem;
  line-height: 1;
}

.footer ul{
    list-style: none;
    margin: 8px;
    padding: 0;
}

.footer ul li{
    display: inline;
}

.footer-social-icon{
    color: var(--clr-primary);
    font-size: 0.7rem;
    margin-right: 10px;
}

.footer p{
    margin-bottom: 10px;
}

/*
=============================================
"Back to the top"
=============================================
*/
.back-to-top-wrapper {
  /* // uncomment to visualize "track" */
  position: absolute;
  top: 100vh;
  right: 0.25rem;
  /* Optional, extends the final link into the 
  footer at the bottom of the page
  Set to `0` to stop at the end of `main` */
  bottom: 0em;
  /* Required for best support in browsers not supporting `sticky` */
  width: 3em;
  /* Disable interaction with this element */
  pointer-events: none;
}

.back-to-top-link {
    /* fixed` is fallback when `sticky` not supported */
    position: fixed;
    /* preferred positioning, requires prefixing for most support, and not    supported on Safari
    @link https://caniuse.com/#search=position%3A%20sticky */
    position: sticky;
    /* reinstate clicks */
    pointer-events: all;
    /* achieves desired positioning within the viewport */
    /* relative to the top of the viewport once `sticky` takes over, or always if     `fixed` fallback is used */
    top: calc(100vh - 4rem);
    padding: 0px 1px 4px 6px;
    border-top: solid 3px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 0.5rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    color: rgba(34, 126, 201, 0.3);
}

.back-to-top-link:hover{
    color: rgb(34, 126, 201, 1);
    font-size: 2rem;
    padding: 0px 0px 4px 3px;
}
/*
=============================================
"IT"
=============================================
*/

