@import url('https://fonts.googleapis.com/css2?family=Bentham&family=Poiret+One&display=swap');

/*----------------------------------------------------Nav-bar*/

* {
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 0px 10px auto 10px;
    display: flex;
    justify-content: flex-end;
}

.menu-burg{
    font-size: 3rem;
    color: rgb(75, 1, 1);
}

/*----------------------------------------------------Title*/
.landing{
    position: relative;
    /*soluzione suggerita da spin.atomic.project*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/hero.jpg");

    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-title{
    position: absolute;
    height: 160px;
    width: 400px;
    left: 50%;
    top: 50%;
    margin: -80px 0 0 -200px;
}

.title{
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(75, 1, 1);
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.subtitle{
    font-family: 'Bentham', cursive;
    color: rgb(75, 1, 1);
}

