

/*----------------------------------------------------Nav-bar*/
*{
    margin: 0;
    padding: 0;
}
.navbar{
    margin: 0px 10px auto 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 3rem;
}

.menu-burg{
    font-size: 3rem;
}

/*----------------------------------------------------Title*/
.landing{
    position: relative;
    /*soluzione suggerita da spin.atomic.project*/
    background-image: linear-gradient(rgba(95, 5, 5, 0.2), rgba(95, 5, 5, 0.2)), url("../images/hero.jpg");
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-title{
    position: absolute;
    height: 160px;
    width: 300px;
    left: 50%;
    top: 50%;
    margin: -80px 0 0 -150px;
}
